.player-controls-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray-dark;
  transition: all 100ms $transition-mode;
  @include size(40px);

  &:hover {
    color: $color-primary;
  }

  &[data-is-circled="true"] {
    border-radius: 50%;
    border: 1px solid currentColor;

    &:hover {
      transform: scale(1.06);
    }
  }
}
