.progress-bar-foreground {
  border-radius: inherit;
  background: $gray-dark;
  transition-property: transform, background;
  transition-duration: 100ms;
  transition-timing-function: $transition-mode;
  will-change: transform, background;
  @include size(inherit);

  &[data-is-active="true"] {
    background: linear-gradient(90deg, $color-primary-light, $color-primary);
  }
}
