$background-color: $gray-white;

.layout-sider {
  flex-shrink: 0;
  z-index: 1;
  position: relative;
  min-width: 0; /* fix firefox can't set width smaller than content on flex item */
  background-color: $background-color;
}
